.brandstyle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.brand-article {
  width: 100%; /* Змінено на 100% для відповідності батьківському елементу */
  padding-top: 153px;
  padding-bottom: 160px;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

.brand-title {
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  padding-bottom: 43px;
}

.brand-text {
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.3%;
  letter-spacing: -0.42px;
  position: relative;
  width: 694px;
  width: 100%; /* Змінено на 100%, щоб забезпечити адаптивність */
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .brand-article {
    width: 80%;
  }

  .brand-title {
    font-size: 24px;
    padding-bottom: 15px;
  }

  .brand-text {
    font-size: 16px;
  }
}

/* Медіа-запит для телефонів (max-width: 768px) */
@media screen and (max-width: 767.98px) {
  .brand-article {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .brand-title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .brand-text {
    font-size: 16px;
  }
}
