.palette-section {
  display: flex;
  height: 618px;
  box-sizing: border-box;
}

.color-ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.color-li {
  flex: 1;
  list-style: none;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first-colorpalette {
  background-color: #a9adaa;
}

.second-colorpalette {
  background-color: #667c29;
}

.third-colorpalette {
  background-color: #37451c;
}

.fourth-colorpalette {
  background-color: #686044;
}

.fifth-colorpalette {
  background-color: #954221;
}

.color-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-p {
  color: #292929;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 217px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Адаптація для планшетів (max-width: 1439.98px, min-width: 768px) */
@media screen and (max-width: 1439.98px) and (min-width: 768px) {
  .palette-section {
    height: 400px; /* Зменшити висоту на планшетах */
  }

  .color-li {
    padding: 5px; /* Зменшити відступ на планшетах */
  }

  .palette-p {
    width: 100%; /* Зробити текст повністю широким на планшетах */
  }
}

/* Адаптація для телефонів (max-width: 767.98px) */
@media screen and (max-width: 767.98px) {
  .palette-section {
    height: 400px; /* Змінити висоту на телефонах */
  }

  .color-li {
    padding: 5px; /* Зменшити відступ на телефонах */
  }

  .color-info {
    align-items: center;
  }

  .palette-p {
    font-size: 16px; /* Зменшити розмір шрифту на телефонах */
    width: 100%; /* Зробити текст повністю широким на телефонах */
  }
}
