<section class="designer-section">
  <div class="designer-div">
    <h4 class="designer-title">Designer</h4>
    <p class="designer-name">Ariana Akhtar</p>
  </div>
  <div class="designer-div designer-social">
    <p class="social-network">
      <span class="social-network-name">Instagram:</span> @aridesignco
    </p>
    <p class="social-network">
      <span class="social-network-name">Dribbble:</span> ariDesignCo
    </p>
    <p class="social-network">
      <span class="social-network-name">Pinterest:</span> @aridesignco
    </p>
    <p class="social-network">
      <span class="social-network-name">Gmail:</span> arianaakhtwork@gmail.com
    </p>
    <p class="social-network">
      <span class="social-network-name">Creative Market:</span> ariDesignco
    </p>
  </div>
</section>
