<section class="typography-section">
  <article class="typography-article">
    <h2 class="typography-title">Typography</h2>
    <p class="typography-text">
      Petal Haven Plant Shop's typographic choices seamlessly fuse modernity and
      elegance, embodying the brand's dedication to innovation and
      sophistication. The main font, Humming, is a sleek and contemporary
      sans-serif typeface, radiating simplicity and minimalism. Complementing it
      is the secondary font, Acumin Variable Concept ExtraLight, a versatile
      typeface that enhances Humming's boldness with a delicate and refined
      touch. Together, these fonts establish a unified and harmonious visual
      identity that encapsulates Petal Haven Plant Shop's core values of
      innovation, sophistication, and nature-inspired design
    </p>
  </article>
</section>
