<section class="promo-section">
  <div class="first-block">
    <div>
      <div class="svg-promo-div">
        <svg width="497" height="282" class="promo-svg">
          <use href="./src/images/sprite.svg#icon-Petal-haven"></use>
        </svg>
      </div>
    </div>
    <h2 class="promo-title">Plant shop</h2>
    <p class="promo-text">Cultivate nature at home, from roots to blossoms</p>
  </div>
  <div class="second-block">
    <img src="./src/images/section3-1.jpg" alt="plants" class="promo-img" />
  </div>

  <div class="third-block">
    <img src="./src/images/section3-2.jpg" alt="plants" class="promo-img" />
  </div>
  <div class="fourth-block">
    <h3 class="fourth-text">
      Enhance your environment with the best nature has to offer
    </h3>
  </div>
</section>
