<section>
  <div>
    <div class="hero-div-svg">
      <div class="svg-container">
        <svg>
          <use href="./src/images/sprite.svg#icon-Petal-haven"></use>
        </svg>
      </div>
    </div>
    <h2 class="hero-title">Plant shop</h2>
    <p class="">Cultivate nature at home, from roots to blossoms</p>
  </div>
  <div>
    <img src="../../images/section3-1.jpg" alt="plants" />
  </div>
  <div><img src="../../images/section3-2.jpg" alt="plants" /></div>
  <div>
    <h3>Enhance your environment with the best nature has to offer</h3>
  </div>
</section>
