<section class="palette-section">
  <ul class="color-ul">
    <li class="color-li first-colorpalette">
      <div class="color-info">
        <p class="palette-p">CMYK 2 0 2 32</p>
        <p class="palette-p">RGB 169 173 170</p>
        <p class="palette-p">HEX #A9ADAA</p>
      </div>
    </li>
    <li class="color-li second-colorpalette">
      <div class="color-info">
        <p class="palette-p">CMYK 18 0 67 51</p>
        <p class="palette-p">RGB 102 124 41</p>
        <p class="palette-p">HEX #667C29</p>
      </div>
    </li>
    <li class="color-li third-colorpalette">
      <div class="color-info">
        <p class="palette-p">CMYK 20 0 59 73</p>
        <p class="palette-p">RGB 55 69 28</p>
        <p class="palette-p">HEX #37451C</p>
      </div>
    </li>
    <li class="color-li fourth-colorpalette">
      <div class="color-info">
        <p class="palette-p">CMYK 0 08 35 59</p>
        <p class="palette-p">RGB 104 96 68</p>
        <p class="palette-p">HEX #686044</p>
      </div>
    </li>
    <li class="color-li fifth-colorpalette">
      <div class="color-info">
        <p class="palette-p">CMYK 0 56 78 42</p>
        <p class="palette-p">RGB 149 66 33</p>
        <p class="palette-p">HEX #954221</p>
      </div>
    </li>
  </ul>
</section>
